src/main/app/order-backend.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/current/mule-jdbc.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<global-property name="logger.order-backend"
		value="com.fl3x.mule.configfile.order-backend" doc:name="Logger" />
	<db:generic-config name="fl3xdb_conn"
		url="jdbc:mysql://fl3xdb.cp6lbq4klxrk.us-east-1.rds.amazonaws.com:3306/fl3xdb?user=fl3x&amp;password=metal123&amp;connectTimeout=2000&amp;socketTimeout=2000"
		driverClassName="com.mysql.jdbc.Driver" doc:name="Generic Database Configuration" />
	<db:mysql-config name="MySQL_Configuration"
		host="fl3xdb.cp6lbq4klxrk.us-east-1.rds.amazonaws.com" port="3306"
		user="fl3x" password="metal123" database="fl3xdb" doc:name="MySQL Configuration"
		driverClassName="com.mysql.jdbc.Driver" />
    <http:request-config name="elastic_http_request_config" host="${etc.host}" port="${etc.port}" responseTimeout="5000" doc:name="HTTP Request Configuration">
        <http:basic-authentication username="${etc.username}" password="${etc.password}"/>
    </http:request-config>

	<flow name="get-order-orderid" processingStrategy="synchronous">
		<logger message="#[logIn('corder ID retreive backend implementation')]"
			level="DEBUG" doc:name="Log orderId request Details" category="${logger.order-backend}" />
		<!-- <db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from order_address]]></db:parameterized-query>
		</db:select> -->
		<http:request config-ref="elastic_http_request_config" path="/fl3x/order/#[orderId]" method="GET" doc:name="HTTP"/>

		<logger message="#[logOut('order data returned')]" level="DEBUG"
			doc:name="log orderId return details" category="${logger.order-backend}" />
	</flow>

	<flow name="put-order-orderid" processingStrategy="synchronous">
		<logger message="#[logIn('create order backend implementation')]"
			level="DEBUG" doc:name="Log orderId request Details" category="${logger.order-backend}" />
		<http:outbound-endpoint exchange-pattern="request-response"
			host="${etc.host}" port="${etc.port}"
			path="fl3x/order/#[orderId]?op_type=create"
			connector-ref="http-conn-shared" method="PUT" doc:name="elasticsearch_api"
			contentType="application/json" keepAlive="true" password="${etc.password}"
			user="${etc.username}"/>
			
		<logger message="#[logOut('order data returned')]" level="DEBUG"
			doc:name="log orderId return details" category="${logger.order-backend}" />
	</flow>

</mule>
