src/main/app/order-frontend-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd"
	version="CE-3.6.1">

	<global-property name="logger.order-api"
		value="com.fl3x.mule.configfile.order-api" doc:name="Logger" />

	<http:connector name="http-conn-shared" validateConnections="true" keepAlive="true" sendTcpNoDelay="true" doc:name="HTTP Connector" clientSoTimeout="10000" cookieSpec="netscape" receiveBacklog="0" receiveBufferSize="0" sendBufferSize="0" serverSoTimeout="10000" socketSoLinger="0">
		<core:receiver-threading-profile poolExhaustedAction="DISCARD" maxThreadsActive="${http.conn.max.threads.active}"
			maxThreadsIdle="${http.conn.max.threads.idle}" />
		<core:service-overrides sessionHandler="org.mule.session.NullSessionHandler" />
	</http:connector>
	

	<apikit:config name="order-api-config" raml="order-api.raml" consoleEnabled="false" doc:name="Router" />

	<apikit:mapping-exception-strategy
		name="default-exc-strategy-api-xml">
		<apikit:mapping statusCode="400">
			<apikit:exception
				value="org.mule.module.apikit.exception.BadRequestException" />
			<logger message="#[logExc('Bad request')]" level="INFO"
				category="${logger.common-mule-config}" doc:name="Bad request" />
			<set-property propertyName="Content-Type" value="application/xml"
				doc:name="XML" />
			<set-payload
				value="&lt;message&gt;Bad request: #[exception.causeException.message]&lt;/message&gt;"
				doc:name="Bad request" />
		</apikit:mapping>
		<apikit:mapping statusCode="401">
			<apikit:exception value="org.mule.api.security.UnauthorisedException" />
			<logger message="#[logExc('Unauthorized')]" level="WARN"
				category="${logger.common-mule-config}" doc:name="Unauthorized" />
			<set-property propertyName="Content-Type" value="application/xml"
				doc:name="XML" />
			<set-payload value="&lt;message&gt;Unauthorized&lt;/message&gt;"
				doc:name="Unauthorized" />
		</apikit:mapping>
		<apikit:mapping statusCode="404">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotFoundException" />
			<logger message="#[logExc('Resource not found')]" level="INFO"
				category="${logger.common-mule-config}" doc:name="Resource not found" />
			<set-property propertyName="Content-Type" value="application/xml"
				doc:name="XML" />
			<set-payload value="&lt;message&gt;Resource not found&lt;/message&gt;"
				doc:name="Resource not found" />
		</apikit:mapping>
		<apikit:mapping statusCode="405">
			<apikit:exception
				value="org.mule.module.apikit.exception.MethodNotAllowedException" />
			<logger message="#[logExc('Method not allowed')]" level="INFO"
				category="${logger.common-mule-config}" doc:name="Method not allowed" />
			<set-property propertyName="Content-Type" value="application/xml"
				doc:name="XML" />
			<set-payload value="&lt;message&gt;Method not allowed&lt;/message&gt;"
				doc:name="Method not allowed" />
		</apikit:mapping>
		<apikit:mapping statusCode="406">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotAcceptableException" />
			<logger message="#[logExc('Not acceptable')]" level="INFO"
				category="${logger.common-mule-config}" doc:name="Not acceptable" />
			<set-property propertyName="Content-Type" value="application/xml"
				doc:name="XML" />
			<set-payload value="&lt;message&gt;Not acceptable&lt;/message&gt;"
				doc:name="Not acceptable" />
		</apikit:mapping>
		<!-- <apikit:mapping statusCode="409"> <apikit:exception value="org.mule.examples.leagues.exceptions.ConflictException" 
			/> <logger message="#[logExc('conflict exception')]" level="ERROR" category="${logger.common-mule-config}" 
			doc:name="conflict or internal mapping exception" /> <set-property propertyName="Content-Type" 
			value="application/xml" doc:name="XML" /> <set-payload value="&lt;message&gt;Internal 
			mapping error&lt;/message&gt;" doc:name="Internal mapping error" /> <flow-ref 
			name="before-exit-common" doc:name="before exit" /> </apikit:mapping> -->
		<apikit:mapping statusCode="415">
			<apikit:exception
				value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
			<logger message="#[logExc('Unsupported media type')]" level="INFO"
				category="${logger.common-mule-config}" doc:name="Unsupported media type" />
			<set-property propertyName="Content-Type" value="application/xml"
				doc:name="XML" />
			<set-payload value="&lt;message&gt;Unsupported media type&lt;/message&gt;"
				doc:name="Unsupported media type" />
		</apikit:mapping>
		<apikit:mapping statusCode="500">
			<apikit:exception value="java.lang.Exception" />
			<logger message="#[logExc('Internal processing error')]"
				level="ERROR" category="${logger.common-mule-config}" doc:name="Internal processing error" />
			<set-property propertyName="Content-Type" value="application/xml"
				doc:name="XML" />
			<set-payload
				value="&lt;message&gt;Internal processing error&lt;/message&gt;"
				doc:name="Internal processing error" />
		</apikit:mapping>
	</apikit:mapping-exception-strategy>
	
	
	<flow name="order-api-console">
		<http:inbound-endpoint connector-ref="http-conn-shared"
			host="0.0.0.0" port="18004" path="order/api/console" doc:name="HTTP"
			exchange-pattern="request-response" />
		<apikit:console config-ref="order-api-config"
			doc:name="frontend API console" />
	</flow>
	
	<flow name="order-api-main" processingStrategy="synchronous">
		<http:inbound-endpoint connector-ref="http-conn-shared"
			host="0.0.0.0" port="18004" path="order/api" doc:name="HTTP"
			exchange-pattern="request-response" />
		<apikit:router config-ref="order-api-config" doc:name="APIkit Router" />
		<exception-strategy ref="default-exc-strategy-api-xml"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="get:/orders/{orderId}:order-api-config"
		processingStrategy="synchronous">
		<logger
			message="#[logIn('entering into invocation of orderId')]"
			level="DEBUG" doc:name="Log inbound" category="${logger.order-api}" />
        <logger message="#['${http.conn.max.threads.active}'] parameters to be prinred frm properties" level="INFO" doc:name="Logger"/>
        <flow-ref name="get-order-orderid" doc:name="get-order-orderid"/>
        <logger message="#[payload] ===== this is the payload at the moment." level="INFO" doc:name="Logger"/>
        <set-payload value="&lt;a&gt;&lt;b&gt;123&lt;/b&gt;&lt;/a&gt;" doc:name="Set Payload"/>
        <logger message="#[payload] this is payload after 5555555555555555555555" level="INFO" doc:name="logger"/>
	</flow>



</mule>
